<<div class="container">
  <div class="container-content">
    <h1>Sillicon Valley Is Quietly Buidling Its Own Wallstreet</h1>
    <img src="https://unsplash.com/photos/c6CJxDhWcpo" alt="wall-street">
    <p>Adam Bluestein</p>
    <p>21 min read</p>
    <h2>Can a new stock exchange backed by the Bay's Area's most powerful players taken on NYSE and Nasdaq ?</h2>
  </div>
  <br>
  <div class="content">
    <p>
      On a drizzly San Francisco day in December, Eric Ries is stationed inside the Succession-worthy offices of Orrick,
      Herrington & Sutcliffe. Here, at the billion-dollar law firm — whose clients include Oracle, Microsoft, Intel, Cisco, Pinterest,
      and Stripe — guys dressed VC chic in V-neck cashmere sweaters and soft loafers shush across carpeted floors.
      It's a frictionless world, all potential irritants engineered away. If you want to be where it happens in Bay Area tech, this is a good place to start.
    </p>
    <br>
    <p>
      Ries, in black glasses and a chinstrap beard, looks like a poli sci professor who’s wandered in from Berkeley. The 41-year-old’s 2011 bestseller, The Lean Startup, introduced the masses to product/market fit, minimum viable product, and the pivot. It also vaulted Ries into nerd celebrity status, a coach and mentor to Silicon Valley’s elite. Between his speaking gigs — which now earn him upwards of $40,000 a pop — book royalties, and consulting work for companies like Procter & Gamble and GE, “Lean Startup Inc.” could have allowed Ries to carry on in low-key rich mode indefinitely. Instead, Ries is now focused on his most ambitious — and risky — venture yet: a new stock exchange called the LTSE, or Long-term Stock Exchange.
    </p>

  </div>
</div>
